# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/
htmlcov/
coverage/

# Secrets
.env
auth_tokens.json

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# artifacts
api-artifacts/
report.html
*.json.report